body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-page {
	min-height:100vh;
}

.page {
	padding:15vh 0vh;
}

.description-page {
	background-color: white;
	color:#5AC1D0;
}

.checked {
    color: gold;
}

.skill-outer {
	font-size:1.5em;
	text-align: center;
}

.skill-inner {
	text-align: left;
	display: inline-block;
}

.skill-name {
	margin-right: 0.5em;
}

.skill-stars {
}

.projects-text {
	font-family: 'Courier New';
	font-size:8vw;
	margin-top:35vh;
}

.music-page {
	background-color: green;
}

.title-page {
  background-image: url("./self-portrait.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
	margin-top: 55vh;
	color:white;
	text-align: center;
}

.main-sub-title-text {
	font-size: 2em;
}

.main-title-text {
	font-family: 'Pacifico', cursive;
	font-size: 5em;
}

.demo {
	max-width: 100%;
	margin-top:3em;
}

.page-title-text {
	font-size:3em;
	font-family: 'Pacifico', cursive;
}

.description-title {
	font-size:2em;
	font-weight:700;
	text-align: center;
}

.summary-title {
	font-size: 3em;
	font-weight:700;
	text-align: center;
	font-family: 'Pacifico', cursive;
}

.video-container {
	padding: 1em;
}

.display-linebreak {
  white-space: pre-line;
}

.description-body {
	padding: 1em;
	font-size: 1.2em;
	border-left: solid;
	border-right: solid;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #495057;
  color: white;
  text-align: center;
  height: 3em;
  padding-top: 0.5em;
}

.footer-link{
  color: white;
}

@media only screen and (max-width: 600px) {

  .main-title-text {
  	font-size:3em;
  }
}

