html {
	min-height: 100%;
	position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-page {
	min-height:100vh;
}

.summary-page {
	padding:10vh 0vh;
}

.min-padding-page {
	padding:5vh 0vh;
}

.description-page {
	background-color: white;
	color:#5AC1D0;
}

.checked {
    color: gold;
}

.skill-outer {
	font-size:1.5em;
	text-align: center;
}

.skill-inner {
	text-align: left;
	display: inline-block;
}

.skill-name {
	margin-right: 0.5em;
}

.skill-stars {
}

.react-reveal {
	display: inline !important;
}

.projects-text {
	font-size:8vw;
	margin-top:35vh;
	min-height: 5em;
}

.music-page {
	background-color: green;
}

.title-page {
  background-image: url("./self-portrait.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
	margin-top: 55vh;
	color:white;
	text-align: center;
}

.main-sub-title-text {
	font-size: 2em;
	margin-top: 0.1em;
}

.main-title-text {
	font-size: 5em;
	min-height: 1.7em;
}

.demo {
	max-width: 100%;
	margin-top:3em;
	background-color: inherit;
}

.page-title-text {
	font-size:3em;
	font-family: 'Pacifico', cursive;
}

.description-title {
	font-size:2em;
	font-weight:700;
	text-align: center;
}

.summary-title {
	font-size: 3em;
	font-weight:700;
	text-align: center;
	font-family: 'Pacifico', cursive;
}

.video-container {
	padding: 1em;
}

.display-linebreak {
  white-space: pre-line;
}

.project-link {
	font-size: 1.05em;
	max-width: 100%;
	text-align: center;
}

.description-body {
	padding: 1em;
	font-size: 1.1em;
	border-left: solid;
	border-right: solid;
}

.project-description {
	padding: 1em;
	font-size: 1.05em;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #495057;
  color: white;
  text-align: center;
  height: 3em;
  padding-top: 0.5em;
}

.footer-link{
  color: white;
}

.footer-link:hover 
{
  color: white;  
}


/*typewriter and blink-caret based on https://css-tricks.com/snippets/css/typewriter-effect/
Thank you Geoff Graham*/
.typewriter {
	width: fit-content;
	margin-left: auto;
	margin-right:auto;
	 border-right: .15em solid white; /* The typwriter cursor */
	 animation: 
    blink-caret .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@media only screen and (max-width: 600px) {

  .main-title-text {
  	font-size:3em;
  }
}

@media only screen and (max-width: 600px) {
    .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height:4rem !important;
  padding-top: 0.5rem;
  }

  body {
    padding-bottom: 4rem;
  }
}